<h2>Start new match!</h2>

<div class="jumbotron jumbotron-green">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label">Select friend</label>
            <div class="col-sm-9">
                <input type="text" ng-model="match.partner" typeahead="friend.name for friend in friends | filter:$viewValue | limitTo:5">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Select artifact</label>
            <div ng-init="match.hero = 'User'" class="btn-group col-sm-9 select-heroes">
                <button type="button" class="btn btn-primary" ng-model="match.hero" btn-radio="'Droplet'"><span class="glyphicon glyphicon-tint"></span></button>
                <button type="button" class="btn btn-primary" ng-model="match.hero" btn-radio="'Plane'"><span class="glyphicon glyphicon-send"></button>
                <button type="button" class="btn btn-primary" ng-model="match.hero" btn-radio="'Cart'"><span class="glyphicon glyphicon-shopping-cart"></button>
            </div>
        </div>

         <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-lg btn-success" type="submit" ng-click="createMatch(match)">Create new match!</button>
            </div>
         </div>
    </form>
</div>
