<h2>Match {{ match.id }}</h2>

<div class="jumbotron jumbotron-green">
    <cw-game match="match"></cw-game>
</div>

<div class="row">
    <h3 ng-show="match.winner == -1">The match ended in a draw.</h3>
    <div ng-repeat="player in match.players" class="col-md-6">
        <h3>{{ player.uid | playerlabel }} <span ng-show="isWinner($index)" class="label label-danger">Winner!</span></h3>
        <ul class="list-group">
            <li class="list-group-item">
                Name
                <div class="badge badge-primary">{{ player.name }}</div>
            </li>
            <li class="list-group-item">
                Artefact
                <div class="badge badge-danger">
                    <span class="glyphicon"
                          ng-class="getArtefactClass(player.artefact)"></span>
                </div>
            </li>
        </ul>
    </div>
</div>