<div ng-switch on="currentItem(field.item)">
    <span ng-switch-when="x" class="glyphicon glyphicon-remove"></span>
    <span ng-switch-when="o" class="glyphicon glyphicon-ban-circle"></span>
    <div ng-switch-default ng-click="makeMove()" class="empty-field"></div>
</div>
