<h2>Friends</h2>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter friend code here">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button">Find and Add!</button>
            </span>
        </div>
    </div>
</div>

<ul class="friends">
    <li ng-repeat="friend in friends" class="friend">
        <img class="friend-avatar" src="/images/default_user.png">

        <div class="friend-data">
            <h4 class="friend-name">{{ friend.name }}</h4>
            <p class="friend-info">Who i am?</p>
        </div>

        <div class="btn-unfriend">
            <button class="btn btn-default">Unfriend</button>
        </div>
    </li>
</ul>