<div class="jumbotron jumbotron-green">
    <h1>Game home page</h1>

    <p class="lead">Test turn-based game. With minimal functions and simple gameplay.</p>
    <h3>Awards/artifacts description</h3>
    <p class="lead">
        <ul>
            <li><div class="btn btn-warning"><span class="glyphicon glyphicon-thumbs-up"></span> niceguy</div>  after 2 wins</li>
            <li><div class="btn btn-danger"><span class="glyphicon glyphicon-certificate"></span> master</div> after 5 wins</li>
            <li>for each win you will get <span class="label label-default">as much coins as your artifact costs</span></li>
            <li>for each win you will get <span class="label label-default">a score</span></li>
            <li>for each win you will get <span class="label label-default">3 experience</span></li>
            <li>for each draw you will get <span class="label label-default">1 experience</span></li>
        </ul>
    </p>

    <h3>Match setup</h3>
    <p class="lead">
        You can start match with specified <span class="label label-default">artifact</span>. If you lose selected artifact is gone.
        If you have no artifacts you will start with default. Artifacts are:
        <ul>
            <li><div class="btn btn-primary"><span class="glyphicon glyphicon-tint"></span></div> - droplet (default) - 3 coins</li>
            <li><div class="btn btn-primary"><span class="glyphicon glyphicon-send"></span></div> - paper plane - 5 coins</li>
            <li><div class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span></div> - cart - 10 coins</li>
            <li><div class="btn btn-primary"><span class="glyphicon glyphicon-tree-conifer"></span></div> - tree - 15 coins</li>
            <li><div class="btn btn-primary"><span class="glyphicon glyphicon-tower"></span></div> - tower - 20 coins</li>
        </ul>
        You will start with <span class="label label-default">droplet</span>, then you'll get some coins after wins and will be able to
        buy other artifacts. Playing with more heavy artifact will bring you more coins (as much as you artifact costs).
    </p>
    <br>
    <p><a class="btn btn-lg btn-success" href="/game/matches" role="button">Start right now!</a></p>
</div>
