<div class="row">

    <div class="col-md-8">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>

        <!-- CONTAINER FOR OTHER SEGMENT -->
        <div class="row"  app-view-segment="1">
        </div>
    </div>

    <div class="col-md-4" id="sidebar" role="navigation">
        <div class="list-group">
            <a href="/game/home" ng-class="{active: routeSegment.contains('home')}" class="list-group-item">Game Home Page</a>
            <a href="/game/profile" ng-class="{active: routeSegment.contains('profile')}" class="list-group-item">Game Profile</a>
            <a href="/game/friends" ng-class="{active: routeSegment.contains('friends')}" class="list-group-item">Friends</a>
            <a href="/game/matches" ng-class="{active: routeSegment.contains('matches')}" class="list-group-item">Matches</a>
            <a href="/game/startmatch" ng-class="{active: routeSegment.contains('startmatch')}" class="list-group-item">Start new match!</a>
        </div>
    </div>
</div>