<h2>Matches</h2>

<div class="row">
    <div ng-repeat="match in matches" class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <span ng-show="match.isMyTurn()" class="turn-badge label label-danger">Your turn!</span>
                <h3>{{ match.id }}</h3>
                <h4>Players:</h4>
                <ul>
                    <li ng-repeat="player in match.players">{{ player | playername }}</li>
                </ul>
                <div class="match-buttons">
                    <a href="#" class="btn btn-default col-md-5 pull-left" role="button">Remove</a>
                    <a ng-href="/game/matches/{{ match.id }}" class="btn btn-success col-md-5 pull-right" role="button">Show</a>
                </div>
            </div>
        </div>
    </div>
</div>