<h2>Profile</h2>

<form class="form-horizontal" role="form">

    <cw-static-control ng-repeat="staticField in ['uid', 'lvl', 'exp', 'score', 'coins', 'awards']" label="staticField" model="gameProfile[staticField]"></cw-static-control>

    <div class="form-group">
        <label class="col-sm-2 control-label">name</label>
        <div class="col-sm-6">
            <input ng-model="gameProfile.name" type="text" class="form-control" placeholder="Name">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-disabled="isClean()" ng-click="save()" type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>