<form class="form-auth">
    <h2 class="form-auth-heading">Please login</h2>
    <input ng-model="credentials.email" type="text" class="form-control" placeholder="Email address" required autofocus>
    <input ng-model="credentials.password" type="password" class="form-control" placeholder="Password" required>
    <div class="clearfix forgot-password">
        <a href="/pwdrecover">Forgot password?</a>
    </div>
    <button ng-click="loginLocal(credentials)" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>