<form class="form-auth">
    <h2 class="form-auth-heading">Reset password</h2>
    <input ng-model="resetData.password" type="password" class="form-control" placeholder="Password" required>
    <button ng-click="resetPwd(resetData)" class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
</form>