<form class="form-auth">
    <h2 class="form-auth-heading">Enter email</h2>
    <input ng-model="email" type="text" class="form-control" placeholder="Email address" required autofocus>
    <div class="clearfix"></div>
    <button ng-click="recover(email)" class="btn btn-lg btn-primary btn-block" type="submit">Recover password</button>
</form>