<form class="form-auth">
    <h2 class="form-auth-heading">Please sign in</h2>
    <input ng-model="user.email" type="text" class="form-control" placeholder="Email address" required autofocus>
    <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required>
    <button ng-click="signup()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>