body {
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-auth {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-auth .form-auth-heading,
.form-auth .checkbox {
    margin-bottom: 10px;
}
.form-auth .checkbox {
    font-weight: normal;
}
.form-auth .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-auth .form-control:focus {
    z-index: 2;
}
.form-auth input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-auth input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.forgot-password {
    margin: 10px;
    font-size: 16px;
}


.jumbotron-green {
    background-color: #E1FCEB;
}

.jumbotron-red {
    background-color: #F8C4C4;
}

.error-message {
    margin: 20px 0;
    font-size: 40px;
}

.error-json {
    font-size: 30px;
    padding: 20px 40px;
    background-color: #fff796;
}


.friends {
    width: 90%;
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

.friend {
    width: 100%;
    height: 65px;
    margin: 5px;
    border-bottom: 1px solid #ffffff;
}

.friend .friend-avatar {
    width: 64px;
    float: left;
}

.friend .friend-data {
    float: left;
    width: 400px;
    display: block;
    margin: 0 0 0 10px;
}

.friend .btn-unfriend {
    float: right;
    display: block;
    padding: 15px 0 0 0;
}

.match-buttons {
    display: block;
    height: 44px;
    padding: 10px 0 0 0;
    border-top: 1px solid #cccccc;
}

.turn-badge {
    position: absolute;
    top: 4px;
    right: 19px;
}

.select-heroes {
    margin: 10px 0 0 0;
}

.badge-danger {
    background-color: #d9534f;
}

.badge-primary {
    background-color: #428bca;
}

/* == GAME FIELD == */
ul.game-field {
    width: 226px;
    height: 175px;
}

ul.game-field li {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    background-color: #bcdda3;
    margin: 1px;
}

ul.game-field li span {
    margin: 13px 15px;
    font-size: 30px;
}

.empty-field {
    width: 59px;
    height: 59px;
    background-color: #cccccc;
    cursor: pointer;
}

.empty-field:hover {
    background-color: #FF0000;
}
