<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <base href="<%= base_url %>"></base>
    <title>Turn-based game server</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Demo frontend</a>
            </div>
            <div class="navbar-collapse collapse">
                <cw-user-block></cw-user-block>
            </div>
        </div>
    </div>

    <div class="container" app-view-segment="0">
    </div>

    <script src="/app.js"></script>
</body>
</html>