<h2>Change password</h2>

<form class="form-horizontal" role="form">

    <div class="form-group">
        <label class="col-sm-3 control-label">Current password</label>
        <div class="col-sm-6">
            <input ng-model="credentials.current" type="password" class="form-control" placeholder="Current password">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">New password</label>
        <div class="col-sm-6">
            <input ng-model="credentials.password" type="password" class="form-control" placeholder="New password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button ng-click="changePwd(credentials)" type="submit" class="btn btn-success">Change</button>
        </div>
    </div>

</form>