<h2>Change email</h2>

<form class="form-horizontal" role="form">

    <div class="form-group">
        <label class="col-sm-3 control-label">New email</label>
        <div class="col-sm-6">
            <input ng-model="exchangeData.email" type="text" class="form-control" placeholder="New email">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Current password</label>
        <div class="col-sm-6">
            <input ng-model="exchangeData.password" type="password" class="form-control" placeholder="Current password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button ng-click="changeEmail(exchangeData)" type="submit" class="btn btn-success">Change</button>
        </div>
    </div>

</form>