<div class="row">

    <div class="col-md-8">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>

        <!-- CONTAINER FOR OTHER SEGMENT -->
        <div class="row"  app-view-segment="1">
        </div>
    </div>

    <div class="col-md-4" id="sidebar" role="navigation">
        <div class="list-group">
            <a href="/user/profile" ng-class="{active: routeSegment.contains('profile')}" class="list-group-item active">Profile</a>
            <a href="/user/password" ng-class="{active: routeSegment.contains('password')}" class="list-group-item">Change password</a>
            <a href="/user/email" ng-class="{active: routeSegment.contains('email')}" class="list-group-item">Change email</a>
            <a href="#" class="list-group-item">Social networks</a>
        </div>
    </div>
</div>