<h2 ng-click="refresh()">User profile</h2>

<form class="form-horizontal" role="form">

    <cw-static-control ng-repeat="staticField in ['_id', 'uid', 'email', 'country', 'agent', 'nae']" label="staticField" model="user[staticField]"></cw-static-control>
    <cw-static-control label=" 'created' " model="user.created | date"></cw-static-control>

</form>