<div class="jumbotron jumbotron-green">
    <h1>Email activated</h1>
    <p class="lead">Thank you guy! You have successfully activated email address.</p>
    <p><a class="btn btn-lg btn-success" href="/" role="button">Go home!</a></p>
</div>