<div class="jumbotron jumbotron-green">
    <h1>Email changed</h1>
    <p class="lead">Email was changed successfully. Please check your old inbox for prevention letter and
    new inbox for activation letter.</p>
    <p><a class="btn btn-lg btn-success" href="/" role="button">Go home!</a></p>
</div>