<div class="jumbotron jumbotron-red">
    <h1>ERROR</h1>
    <h2>
        <span class="label label-danger">Status: <strong>{{ error.status }}</strong></span>
        <span class="label label-warning">Code: <strong>{{ error.code }}</strong></span>
    </h2>

    <p class="lead error-message">{{ error.message }}</p>
    <p class="lead error-json">{{ error | json }}</p>

    <p><a class="btn btn-lg btn-success" href="/" role="button">Go home...</a></p>
</div>