<div class="jumbotron jumbotron-red">
    <h1>Not found</h1>
    <p class="lead">Requested page could not be found at all or page with
        limited lifetime has expired.
    </p>
    <p><a class="btn btn-lg btn-success" href="/" role="button">Go home...</a></p>
</div>