<div class="jumbotron jumbotron-green">
    <h1>Password successfully reset</h1>
    <p class="lead">Check you email for letter with confirmation of password change.</p>
    <p><a class="btn btn-lg btn-success" href="/login" role="button">Login!</a></p>
</div>