<div class="jumbotron jumbotron-green">
    <h1>Recover link created</h1>
    <p class="lead">Check you email for letter with recover link.</p>
    <p><a class="btn btn-lg btn-success" href="/" role="button">Go home!</a></p>
</div>